Repository reinhello/NReader, pull requests merged in 2022-09, with the labels that each got.

#85 Add Constant file
  framework/lib/Client.ts
  framework/lib/Commands/Modules/HelpCommand.ts
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Constant.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
  framework/lib/index.ts
Labels: performance, framework/commands, size/M, framework/modules

#87 Implement search sorting results
  bot/src/Commands/Main/Search.ts
  framework/lib/Commands/Modules/SearchCommand.ts
Labels: framework/commands, size/M, api

#88 Add Indonesian localisation
  bot/src/Commands/Mod/Config.ts
  framework/lib/Client.ts
  framework/lib/Types/TLocale.ts
  framework/lib/Utils/Util.ts
  localisation/id/general.json
  localisation/id/main.json
  localisation/id/mod.json
Labels: localisation, size/M, framework/types

#89 Post stats on botlist
  config/config-example.json
  framework/lib/Client.ts
  framework/lib/Constant.ts
  framework/lib/Events/Modules/GuildCreateEvent.ts
  framework/lib/Events/Modules/ReadyEvent.ts
  framework/lib/Interfaces/IConfig.ts
  framework/lib/Types/TBotList.ts
  framework/lib/Types/index.ts
  framework/lib/Utils/APIStats.ts
  framework/package-lock.json
  framework/package.json
Labels: minor, performance, size/M, framework/events, framework/interfaces, framework/types, framework/utils, NReader

#90 Title characters length should be 30 or lower
  framework/lib/Commands/Modules/BookmarkCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Modules/SearchPaginator.ts
Labels: enhancement, framework/commands, size/M, framework/modules

#92 Use modal for page navigation
  bot/src/Commands/Main/Bookmark.ts
  bot/src/Commands/Main/Read.ts
  bot/src/Commands/Main/SearchSimilar.ts
  framework/lib/Client.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/MessageCollector.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
  framework/lib/Utils/Util.ts
  framework/package-lock.json
  framework/package.json
Labels: enhancement, major, performance, size/XXL, framework/modules

#93 Remove intents
  bot/src/NReader.ts
Labels: size/XS, cleanup

#94 Refactor API module
  framework/lib/API/Constant.ts
  framework/lib/API/index.ts
  framework/lib/API/lib/REST/Endpoints.ts
  framework/lib/API/lib/REST/RequestHandler.ts
  framework/lib/API/lib/Structures/Gallery.ts
  framework/lib/API/lib/Structures/Image.ts
  framework/lib/API/lib/Structures/Search.ts
  framework/lib/API/lib/Structures/Tag.ts
  framework/lib/API/lib/Structures/TagManager.ts
  framework/lib/API/lib/Structures/index.ts
  framework/package-lock.json
  framework/package.json
Labels: enhancement, major, performance, api, size/L, NReader

#95 Switch to internal API module
  framework/lib/Client.ts
  framework/lib/Commands/Modules/BookmarkCommand.ts
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
Labels: major, performance, framework/commands, framework/modules, size/L

#96 Enable `/search-similar` slash command
  framework/lib/API/lib/Structures/Search.ts
  framework/lib/Commands/Modules/SearchSimilarCommand.ts
Labels: Discord, framework/commands, size/L, NReader

#98 Import framework from the lib
  bot/src/Commands/General/Help.ts
  bot/src/Commands/General/Ping.ts
  bot/src/Commands/General/Stats.ts
  bot/src/Commands/Main/Bookmark.ts
  bot/src/Commands/Main/Read.ts
  bot/src/Commands/Main/Search.ts
  bot/src/Commands/Main/SearchSimilar.ts
  bot/src/Commands/Mod/Config.ts
  bot/src/Events/Debug.ts
  bot/src/Events/Error.ts
  bot/src/Events/GuildCreate.ts
  bot/src/Events/GuildDelete.ts
  bot/src/Events/InteractionCreate.ts
  bot/src/Events/Ready.ts
  bot/src/NReader.ts
  framework/lib/Client.ts
  framework/package.json
Labels: size/M, cleanup

#99 Update config file
  config/config-example.json
  framework/lib/Events/Modules/GuildCreateEvent.ts
  framework/lib/Events/Modules/ReadyEvent.ts
  framework/lib/Interfaces/IConfig.ts
Labels: minor, size/S

#100 Migrate to global slash commands
  framework/lib/Client.ts
  framework/lib/Events/Modules/GuildCreateEvent.ts
Labels: major, Discord, size/S, framework/events, NReader

#101 Migrate Discord library from Eris -> Oceanic
  .github/CONTRIBUTING.md
  bot/package-lock.json
  bot/package.json
  bot/src/Events/GuildCreate.ts
  bot/src/Events/GuildDelete.ts
  bot/src/Events/InteractionCreate.ts
  bot/src/NReader.ts
  framework/lib/Client.ts
  framework/lib/Commands/Command.ts
  framework/lib/Commands/Modules/BookmarkCommand.ts
  framework/lib/Commands/Modules/ConfigCommand.ts
  framework/lib/Commands/Modules/HelpCommand.ts
  framework/lib/Commands/Modules/PingCommand.ts
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Commands/Modules/SearchSimilarCommand.ts
  framework/lib/Commands/Modules/StatsCommand.ts
  framework/lib/Events/Modules/ErrorEvent.ts
  framework/lib/Events/Modules/GuildCreateEvent.ts
  framework/lib/Events/Modules/GuildDeleteEvent.ts
  framework/lib/Events/Modules/InteractionCreateEvent.ts
  framework/lib/Interfaces/ICommand.ts
  framework/lib/Interfaces/IEvent.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/LocalisationCompiler.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
  framework/lib/Utils/Logger.ts
  framework/lib/Utils/RichEmbed.ts
  framework/lib/Utils/Util.ts
  framework/package-lock.json
  framework/package.json
Labels: major, performance, size/XXL, NReader

#102 Fix commands and status
  framework/lib/Client.ts
  framework/lib/Commands/Modules/BookmarkCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Events/Modules/ReadyEvent.ts
Labels: bug, size/M

#103 Fix user bookmark returns error
  framework/lib/Commands/Modules/BookmarkCommand.ts
Labels: bug, minor, framework/commands, size/XS

#104 Fix interaction response
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Commands/Modules/SearchSimilarCommand.ts
Labels: bug, framework/commands, size/S

#106 Rewrite components with `ComponentBuilder`
  framework/lib/Commands/Modules/BookmarkCommand.ts
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Commands/Modules/SearchSimilarCommand.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
  framework/package-lock.json
  framework/package.json
Labels: size/XXL, cleanup

#107 Add `TranslationKey` type
  framework/lib/Client.ts
  framework/lib/Types/TTranslationKey.ts
  framework/lib/Types/index.ts
Labels: minor, size/M, framework/types, typing

#108 Handle API error
  framework/lib/API/lib/REST/APIError.ts
  framework/lib/API/lib/REST/RequestHandler.ts
  framework/package-lock.json
  framework/package.json
Labels: size/M, api

#109 Add minor docs
  framework/lib/API/lib/REST/RequestHandler.ts
  framework/lib/Utils/Util.ts
Labels: documentation, minor, size/S

#105 Add premium system
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Commands/Modules/SearchSimilarCommand.ts
  framework/lib/Events/Modules/InteractionCreateEvent.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
Labels: enhancement, major, size/S, NReader

#110 Update request option
  framework/lib/Utils/APIStats.ts
Labels: minor, size/XS

#112 Update README
  README.md
  framework/lib/API/lib/Structures/Gallery.ts
  framework/lib/API/lib/Structures/TagManager.ts
Labels: minor, size/M

#113 Refactor embed builder
  framework/lib/Commands/Modules/BookmarkCommand.ts
  framework/lib/Commands/Modules/ConfigCommand.ts
  framework/lib/Commands/Modules/HelpCommand.ts
  framework/lib/Commands/Modules/PingCommand.ts
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Commands/Modules/SearchSimilarCommand.ts
  framework/lib/Commands/Modules/StatsCommand.ts
  framework/lib/Events/Modules/InteractionCreateEvent.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
  framework/lib/Utils/RichEmbed.ts
  framework/lib/Utils/Util.ts
  framework/package-lock.json
  framework/package.json
Labels: major, performance, size/XL, cleanup

#114 Fix embed author icon URL
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Modules/BookmarkPaginator.ts
  framework/lib/Modules/ReadPaginator.ts
  framework/lib/Modules/ReadSearchPaginator.ts
  framework/lib/Modules/SearchPaginator.ts
Labels: framework/commands, size/M, framework/modules

#115 Add `Eval` slash command
  bot/src/Commands/Mod/Eval.ts
  config/config-example.json
  framework/lib/Commands/Command.ts
  framework/lib/Commands/Modules/EvalCommand.ts
  framework/lib/Commands/Modules/index.ts
  framework/lib/Events/Modules/ReadyEvent.ts
  framework/lib/Interfaces/IConfig.ts
Labels: enhancement, framework/commands, size/M

#116 Add temporary premium feature
  bot/package-lock.json
  bot/src/Commands/Mod/Premium.ts
  framework/lib/Commands/Command.ts
  framework/lib/Commands/Modules/PremiumCommand.ts
  framework/lib/Commands/Modules/ReadCommand.ts
  framework/lib/Commands/Modules/SearchCommand.ts
  framework/lib/Commands/Modules/index.ts
  framework/lib/Events/Modules/InteractionCreateEvent.ts
  framework/lib/Events/Modules/ReadyEvent.ts
  framework/lib/Interfaces/IUserSchema.ts
  framework/lib/Models/UserSchema.ts
  framework/lib/Types/TTranslationKey.ts
  framework/lib/Utils/Util.ts
  localisation/en/developer.json
  localisation/id/developer.json
  localisation/ja/developer.json
  localisation/zh/developer.json
Labels: enhancement, major, Discord, framework/commands, framework/models, size/L

#117 Set the correct temporary premium value for new users
  config/config-example.json
  framework/lib/Commands/Modules/PremiumCommand.ts
  framework/lib/Events/Modules/InteractionCreateEvent.ts
  framework/lib/Interfaces/IConfig.ts
  framework/lib/Models/UserSchema.ts
Labels: size/XS, config

#118 Bump Oceanic version to the latest
  bot/package-lock.json
  bot/package.json
  framework/package-lock.json
  framework/package.json
Labels: size/XS

#119 Fix bot list stats aren't updating
  framework/lib/Utils/APIStats.ts
Labels: bug, minor, size/XS

#120 Refactor the `Search` command
  bot/package-lock.json
  bot/package.json
  bot/src/Commands/Main/Search.ts
  bot/src/Commands/Main/SearchSimilar.ts
  bot/src/Commands/Mod/Premium.ts
  bot/src/Events/GuildCreate.ts
  bot/src/Events/GuildDelete.ts
  bot/src/Events/InteractionCreate.ts
  framework/lib/index.ts
Labels: enhancement, major, framework/commands, cleanup, size/L, NReader

#121 Refactor `APIError`
  framework/lib/API/lib/REST/RequestHandler.ts
Labels: minor, performance, size/XS, api

#122 Add Esperanto Translations
  .vscode/settings.json
  localisation/eo/developer.json
  localisation/eo/general.json
  localisation/eo/main.json
  localisation/eo/mod.json
Labels: localisation, size/M

#123 Support Esperanto localisation
  bot/src/Commands/Mod/Config.ts
  framework/lib/Client.ts
  framework/lib/Types/TLocale.ts
  framework/lib/Utils/Util.ts
Labels: size/S, localisation

#124 Update README
  README.md
Labels: minor, size/XS
